.body
	font-family: 'Rubik'
.main-page
	position: relative
	width: 100vw
	background: #857e91
	.main-page-in
		position: absolute
		z-index: 2
		width: 100%
		height: 100vh
	.carousel-indicators li
		width: 10px
		height: 10px
		border-radius: 100%
		cursor: pointer
	.carousel-inner img
		height: 100vh
		width: 100vw
	nav
		width: 100%
		height: 10%
		a
			font-size: 1.2rem
			color: #ffffff
			font-family: 'Muli', sans-serif
			text-shadow: 1px 1px 1px black
		.active a
			color: #FFB736
	.main-title
		height: 90%
		width: 100vw
		text-align: center
		img:hover
			cursor: pointer
		h1,h2
			color: #ffffff
			font-weight: bold
			font-family: 'Rubik', sans-serif
			text-shadow: 1px 1px 1px black
		h1
			font-size: 4em
		h2
			font-size: 2.5em
		button
			border-radius: 0
			background: #FFB736
			color: #ffffff
			font-weight: bold
			padding: 0.7em 3em
			border: none
			&:hover
				background: #df9f29
				cursor: pointer

.finished-projects
	height: fit-content
	padding-bottom: 4em
	background: #C3C1CC
	h1
		font-family: 'Rubik', sans-serif
		margin: 2vw auto
		font-weight: bold !important
		font-size: 9em
		color: #ffffff
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
	h2
		font-family: 'Rubik', sans-serif
		font-size: 3em
		font-weight: bold
		margin-bottom: 1.5em
		color: #ffffff
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
	#finished-special
		display: none
		

.why-us
	height: 100vh
	background: #989CB6
	.why-us-title
		h1
			text-align: center
			font-size: 3em
			padding: 0.7em 0 0.2em 0
			border-bottom: 0.15em solid black
			font-family: 'Rubik', sans-serif
			font-weight: bold
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
			color: #292533
	.why-us-in
		height: 60vh
		.circle
			text-align: center
			background: #ffffff
			width: 14em
			height: 14em
			padding: 1em
			h2
				font-family: 'Muli'
				font-weight: bold

		.line-in
			border: 0.3em white solid
			background: #ffffff
			width: 100%

.testimonials
	height: 100vh
	position: relative
	background: #666666
	.testimonials-in
		position: absolute
		z-index: 2
		width: 100%
		.testimonials-title
			position: block
			margin-top: 5vh
			height: 10vh
			h1
				color: #ffffff
				font-size: 4vw
				font-family: 'Rubik',sans-serif
				padding-bottom: 1vw
				border-bottom: 0.15em #ffffff solid
				font-weight: bold
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
		.quotes
			position: block
			height: 85vh
			width: 80vw
			.quotes-in
				height: 60%
				h2
					font-size: 3vw
					color: #ffffff
					text-align: center
					font-style: italic
					font-family: 'Muli', sans-serif
					font-weight: bold
				.quote-left
					align-self: flex-start
					width: 5vw
					height: auto
				.quote-right
					align-self: flex-end
					width: 5vw
					height: auto
					transform: rotate(180deg)
	.carousel-item
		img
			height: 100vh
	#carousel-testimonials
		a
			position: absolute
			width: 10vw
			z-index: 4
			.carousel-control-prev-icon, .carousel-control-next-icon
				background-image: url(./arrow.png)
				width: 3vw
				height: 3vw
			.carousel-control-prev-icon
				transform: rotate(-90deg)
			.carousel-control-next-icon
				transform: rotate(90deg)

.interested
	background: url(./Rectangle.png) (center / cover) no-repeat fixed
	height: 100vh

	.title
		border-bottom: 0.5rem solid black

	img:hover
		transform: scale(1.1)
		transition: all .2s ease-in-out
	button
		border-radius: 0
		background: white
		border: none

	button:hover
		transition: ease-in-out 0.3s
		box-shadow: 7px 7px 7px rgba(0, 0, 0, 1)
		background: white
	a
		color: black
		&:hover
			text-decoration: none

.location
	height: 60vh
	.location-box
		background: rgb(255, 183, 54)

		h1
			border-bottom: 0.5rem solid black

		

@media (max-width: 576px)
	.main-page 
		.main-title 
			height: 80vh
			h1
				font-size: 2.5em
			h2
				font-size: 1.5em
	#carousel-testimonials
		a .carousel-control-prev-icon, .carousel-control-next-icon
			width: 4vw
			height: 4vw
	.finished-projects
		.finished-in
			h1
				font-size: 7em
			h2
				font-size: 2em
		.finished-logo
			img
				margin: 1em 0
	.testimonials
		.testimonials-title
			h1
				font-size: 9vw !important
		.quotes
			.quotes-in
				h2
					font-size: 6vw !important

	.interested h2
		visibility: hidden
	.location .location-in
		.location-box
			h1
				font-size: 3em
			img
				width: 20%
			p
				font-size: 1.5em
@media  (min-width: 576px) and (max-width: 768px)
	.interested
			.interested-in
				h2
					visibility: hidden

@media  (min-width: 576px) and (max-width: 990px)
	.main-page
		.main-title
			h1
				font-size: 2.5em
			h2
				font-size: 1.8em
	.testimonials
		.testimonials-title
			h1
				font-size: 7vw !important
		.quotes
			.quotes-in
				h2
					font-size: 5vw !important
	.location
		.location-box
			h1
				font-size: 2em
				border-bottom: 0.2em solid black
			p
				font-size: 1.4em

@media ( max-width: 767px )
	.navbar-nav
		background: black
		padding: 1em
	.why-us
		h1
			padding: 0.5em
		.why-us-in
			height: 80vh !important
			display: flex
			flex-direction: column !important
			
			.circle
				width: 9em !important
				height: 9em !important
				padding: 1em
				h2
					font-size: 1.3em !important
					margin: 0
			.line-in
				border: 0.3em white solid
				background: #ffffff
				height: 100%
				width: 0.5em
				margin: auto
	
@media (orientation: landscape) and (min-width: 640px) and (max-width: 990px) and (max-height: 555px)
		.main-page 
			nav
				a
					font-size: 1em
			.main-title 
				img
					width: 50%
				h1
					font-size: 2em
				h2
					font-size: 1.3em
					margin-bottom: 1em !important
				button
					font-size: 1em
		.why-us
			h1
				font-size: 2em	

@media (orientation: landscape) and (min-width: 640px) and (max-width: 990px)
	.why-us
		.container
			min-width: 99vw
		.why-us-in
			.circle
				width: 10em
				height: 10em
				padding: 1em
				h2
					font-size: 1.5em
					margin: 0

@media (min-width: 768px)
	.interested .title
		font-size: 5em
	.location-box
		h1
			font-size: 4em
			border-bottom: 0.3rem black solid
		img
			width: 10%
		p
			font-size: 2em

